body{
    margin: 0px;
    font-family: cursive;

}
.header{
    border-bottom: 1px solid #000;
    justify-content: space-between;
    display: flex;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-right: 15px;
    font-family: cursive;
}

.logo{
    width: 90px;
    height: 100%;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.home-page{
    margin: 15px;
}


.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: flex-start;
}

/** SEARCH BAR **/
.search-container{
    text-align: end;
    margin: 5px 10px 15px 0px;
}
.search-bar{
    background-color: #fefafa3d;
    border: 1px solid #bcc1c7;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    font-size: 15px;    
    width: 40%;
}

.search-icon {
    display: inline-block;
    height: 18px;
    color: white;
    background-color: #D9381E;
    border: 1px solid #D9381E;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 15px 10px 12px;
}

.search-bar:focus{
    box-shadow: none;
    outline: none;
}
/** SEARCH BAR CSS END **/


/** RESTAURANT CARD **/
.card{
    border: 1px solid #bcc1c7;
    border-radius: 2px;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.card > .name{
    font-size: 20px;
    font-weight: 700;
    word-break: break-word;
    margin: 7px 0;
}

.card > .cuisines{
    color: #686b78;
    font-size: 14px;
    margin: 5px 0;
}

.card > .details{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card > .details> .distance{
    font-size: 15px;
    text-align: center;
    margin: auto 0px;

}

.card > .details> .rating{
    color: #fff;
    background-color: #48c479;
    padding: 3px 5px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 2px;
}
/** RESTAURANT CARD CSS END **/




