.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}

.logo{
    width: 90px;
    height: 100%;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

/** RESTAURANT CARD CSS START**/

.card{
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.card > .name{
    font-size: 20px;
    font-weight: 700;
    word-break: break-word;
    margin: 7px 0;
}

.card > .cuisines{
    color: #686b78;
    font-size: 14px;
    margin: 5px 0;
}

.card > .details{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card > .details> .distance{
    font-size: 15px;
    text-align: center;
    margin: auto 0px;

}

.card > .details> .rating{
    color: #fff;
    background-color: #48c479;
    padding: 3px 5px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 2px;
}

/** RESTAURANT CARD CSS END **/

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}